table {
  border-collapse: collapse;
  border-style: solid, #000;
}

th,
td {
  text-align: center;
  padding: 6px;
  border-width: 1.5px;
  border-style: solid, #000;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  background-image: url(imagenes/fondo_gris.gif);
}

#euro {
  display: table-cell;
  vertical-align: middle;
  float: left;
}
#yen {
  display: table-cell;
  vertical-align: middle;
  float: left;
}
#libra {
  display: table-cell;
  vertical-align: middle;
  float: left;
}
#euyen {
  display: table-cell;
  vertical-align: middle;
  float: left;
}
.blue {
  background-color: #e6f3ff;
}
.amarella {
  background-color: #ffffcc;
}
